.blog-row {
  color: black;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.blog-row:hover {
  background-color: rgba(22, 61, 179, 0.5);
  color: white;
}
