.navbar-link {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.navbar-link:hover {
  color: rgb(22, 61, 179);
  background-color: white;
}

.navbar-login {
  flex: 1;
  justify-content: center;
}
